body {
  background-color: #cdfff9e3;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
  width: 95%;
  padding: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95vw;
  margin-bottom: 20px;
}

nav {
  padding: 15px 0;
}

nav a {
  padding: 0 8px;
  font-size: large;
  font-weight: bold;
}

.topic-filter {
  font-size: medium;
  padding: 0 5px;
  margin: 10px 0;
}

.topic-filter-link {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 500;
  background-color: rgba(245, 245, 245, 0.87);
}

.topic-curr-filter {
  font-size: large;
}

.radio-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-labels {
  padding: 0 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

.article-title-list {
  font-size: large;
  font-weight: bold;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-navigation button {
  border-radius: 100%;
  font-size: larger;
  background-color: dodgerblue;
}

#current-page {
  font-size: larger;
  font-weight: bolder;
  padding: 0 8px;
}

.article-image {
  max-width: 80vw;
  width: 500px;
  border-radius: 15px;
}

.comments-dropdown {
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
}

.comment-form label {
  margin-right: 10px;
  font-weight: 500;
}

.comment-form input {
  width: 50vw;
  max-width: 300px;
}

.comment-form button {
  margin-left: 10px;
}

.comment-card {
  border: 1px black solid;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.678);
  padding: 10px;
  margin: 5px 0;
}

.comment-identity {
  display: flex;
}

.comment-avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: rgba(245, 245, 245, 0.87);
  border: 2px solid black;
  margin-right: 10px;
}

.comment-author {
  font-weight: bold;
}

.comment-timestamp {
  font-size: small;
}

.votes-manager {
  display: flex;
  align-items: center;
  height: 30px;
}

.votes-tally {
  font-weight: bold;
}

.votes-button {
  border-radius: 8px;
  padding: 3px;
  margin: 0 5px;
  background-color: rgba(245, 245, 245, 0.87);
}
